# Version control
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/

# Secret files
.env
